body{
	background-color:#d5c7bc; 
}

.profile-box{
	height:400px;
	width: 740px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -370px;
	background-color: #69a2b0;
	color: #f7f4f3;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	opacity:0;
	-webkit-transition: opacity 0.4s, height 0.3s, width 0.3s;
}

.profile-text-box{
	font-family: 'Nunito', sans-serif;
	position: absolute;
	bottom: 22;
	left: 324;
}

.profile-image{
	object-fit:cover; 
	height:100%;
	width:300px;
	float: left;
	margin-right: 14px;
}

.github-mark{
	background-image: url(../src/GitHub-Mark.png);
	background-color: #69a2b0;
	background-size: 100%;
	height:30px;
	width: 30px;
	position:absolute;
	bottom:10;
	right:10;
}

.mail-icon{
	background-image: url(../src/Mail.png);
	background-color: #69a2b0;
	background-size: 100%;
	height:36px;
	width: 36px;
	position:absolute;
	bottom:56;
	right:8;
}

.phone-icon{
	display: none;
	background-image: url(../src/Phone.png);
	background-color: #69a2b0;
	background-size: 100%;
	height:36px;
	width: 36px;
	position:absolute;
	bottom:106;
	right:8;
	-webkit-transition: background-color 0.3s, box-shadow 0.3s;
}

.phone-number-box{
	display: none;
	color:#080b0c;
	background-color:#f7f4f3;
	overflow: hidden;
	//display:inline-block;
	padding:7px 12px;
	font-family: 'Nunito', serif;
	font-weight: bold;
	position:absolute;
	bottom:106;
	right:20;
	width:0px;
	height:22px;
	white-space: nowrap;
	-webkit-transition: box-shadow 0.3s, width 0.3s, right 0.3s;
}

.phone-box{
	display:none;
}

.email-box{
	display:none;
}

.github-box{
	display:none;
}

h1{
	font-size: 3em;
	margin-bottom: -10px;
}

h3{
	margin-top: -26px;
	margin-bottom:-10px;
}

@media (max-width: 800px){
	.profile-box{
		height:100%;
		width: 100%;
		margin:0px;
		overflow: hidden;
		position: absolute;
		top:0;
		bottom:0;
		left:0;
		right:0;
		background-color: #69a2b0;
		color: #f7f4f3;
		-webkit-transition:height 0.3s, width 0.3s;
	}

	.profile-image{
		object-fit:cover;
		margin-top:-10%; 
		height:46%;
		width:40%;
		float: left;
		margin-right: 14px;
	}

	.profile-text-box{
		display:inline-block;
		float:right;
		clear:none;
		font-family: 'Nunito', sans-serif;
		position: absolute;
		top: 0;
		left: 44%;
		margin-right:10px;
		height:46%;
	}

	.github-mark{
		display:none;
	}

	.mail-icon{
		display:none;
	}

	.phone-icon{
		display:none;
	}

	.phone-number-box{
		display:none;
	}

	.github-mark-m{
		background-image: url(../src/GitHub-Mark.png);
		background-size: 95%;
		background-repeat: no-repeat;
		float:left;
		z-index: 100;
		height:36px;
		width:36px;
		margin-top:-8px;
		margin-left:-28px;
		margin-right:10px;
	}

	.mail-icon-m{
		background-image: url(../src/Mail.png);
		background-size: 100%;
		float:left;
		z-index: 100;
		height:39px;
		width:39px;
		margin-top:-10px;
		margin-left:-30px;
		margin-right:10px;
	}

	.phone-icon-m{
		background-image: url(../src/Phone.png);
		background-size: 100%;
		float:left;
		z-index: 100;
		height:39px;
		width:39px;
		margin-top:-10px;
		margin-left:-30px;
		margin-right:10px;
	}

	.mobile-contact-box{
		clear:both;
		padding-top:50px;
	}

	.phone-box{
		display:none;
		font-family: 'Nunito', sans-serif;
		margin-top:10px;
		clear:both;
		width:60%;
		//display:block;
		padding:10px 30px;
		margin-left:auto;
		margin-right:auto;
		background-color: white;
		color:black;
	}

	.email-box{
		font-family: 'Nunito', sans-serif;
		margin-top:10px;
		clear:both;
		width:60%;
		display:block;
		padding:10px 30px;
		margin-left:auto;
		margin-right:auto;
		background-color: white;
		color:black;
	}

	.github-box{
		font-family: 'Nunito', sans-serif;
		margin-top:10px;
		clear:both;
		width:60%;
		display:block;
		padding:10px 30px;
		margin-left:auto;
		margin-right:auto;
		background-color: white;
		color:black;
	}
}