body{
	background-color:#d5c7bc; 
}

.profile-box{
	height:400px;
	width: 740px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -200px;
	margin-left: -370px;
	background-color: #69a2b0;
	color: #f7f4f3;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	opacity:0;
	-webkit-transition: opacity 0.4s;
}

.profile-text-box{
	font-family: 'Nunito', sans-serif;
	position: absolute;
	bottom: 22;
	left: 324;
}

.profile-image{
	object-fit:cover; 
	height:100%;
	width:300px;
	float: left;
	margin-right: 14px;
}

.github-mark{
	background-image: url(../src/GitHub-Mark.png);
	background-color: #69a2b0;
	background-size: 100%;
	height:30px;
	width: 30px;
	position:absolute;
	bottom:10;
	right:10;
}

.mail-icon{
	background-image: url(../src/Mail.png);
	background-color: #69a2b0;
	background-size: 100%;
	height:36px;
	width: 36px;
	position:absolute;
	bottom:56;
	right:8;
}

.phone-icon{
	background-image: url(../src/Phone.png);
	background-color: #69a2b0;
	background-size: 100%;
	height:36px;
	width: 36px;
	position:absolute;
	bottom:106;
	right:8;
	-webkit-transition: background-color 0.3s, box-shadow 0.3s;
}

.phone-number-box{
	color:#080b0c;
	background-color:#f7f4f3;
	overflow: hidden;
	display:inline-block;
	padding:7px 12px;
	font-family: 'Nunito', serif;
	font-weight: bold;
	position:absolute;
	bottom:106;
	right:20;
	width:0px;
	height:22px;
	-webkit-transition: box-shadow 0.3s, width 0.3s, right 0.3s;
}

h1{
	font-size: 3em;
	margin-bottom: -10px;
}

h3{
	margin-top: -26px;
	margin-bottom:-10px;
}